.main-signup-container {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96.3vh;
    width: 100%;
    background-color: var(--primary_colour);
    overflow: hidden;
}

.signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 5px rgb(18 10 10 / 19%);
    text-align: center;
    width: 300px;
    height: auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    margin-top: 5px;
    background-color: var(--primary_colour);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: var(--primary_colour_2);
}

.login-link {
    font-weight: lighter;
    margin-top: 15px;
}

.login-link a {
    color: var(--primary_colour);
    text-decoration: none;
}

.login-link a:hover {
    color: var(--primary_colour);
    text-decoration: underline;
}