@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

:root {
  --primary_colour: rgba(195, 166, 16, 0.93);
  --blur_val1: 0px 0px 7px black;
  --blur_val2: 0px 2px 4px 0px black;
  --primary_colour_2: rgb(152 129 10 / 93%);
  --mobile_width: 768px;
}


.title {
  margin-top: 7vh;
  margin-bottom: 7vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 20vh;
  border: 2px solid var(--primary_colour);
  background-color: var(--primary_colour);
  color: white;
  border-radius: 30px;
  box-shadow: var(--blur_val2)
}

@media (max-width:500px) {
  .title {
    padding: 2vw;
    font-size: 7vw;
    width: 60vw;
    height: auto;
    text-align: center;
  }
}