footer {
    margin-top: 5vh;
    display: flex;
    gap: 20px;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: black;
}

.img {
    margin: 0vh 10vw;
}

.bar2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.text2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 5px;
    color: white;
    border: 2px solid black;
    text-decoration: none;
    transition: 0.3s, border 0.3s;
}

.text2:hover {
    border-radius: 10px;
    border: 2px solid var(--primary_colour);
    background-color: var(--primary_colour);
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--primary_colour);
}

@media (max-width: 500px) {
    footer {
        padding-top: 2vh;
        padding-bottom: 2vh;
        box-sizing: border-box;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .text2 {
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
}