.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* Center horizontally and vertically */
}

.weather-forecast {
    text-align: center;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-location,
.weather-temperature,
.weather-wind {
    width: 60vw;
    height: 20vh;
    background-color: black;
    font-size: 30px;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}