.main-itemsbought-container {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    margin: 0vh 3vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
    flex-wrap: wrap;
}

.item {
    list-style-type: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.no-purchase {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 12px;
    background-color: black;
    color: white;
    width: 40vw;
    height: 20vh;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-top: 20px;
}

.item-name {
    font-weight: bolder;
}

.item-price {
    font-weight: bolder;
    color: red;
}

.item-image {
    height: 40vh;
    width: 25vw;
    border: 1px solid #ddd;
    border-radius: 5px;
}

@media (max-width:500px) {
    .items {
        justify-content: center;
        gap: 5vh;
    }

    .item {
        width: 80vw;
    }

    .item-image {
        width: 70vw;
    }

    .no-purchase {
        margin-bottom: 40vh;
        width: 70vw;
        text-align: center;
    }
}