body {
    margin: 0;
    padding: 0;
}

.main-itemsbought-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    gap: 7vh 10vw;
    flex-wrap: wrap;
}

.items li {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    border: 2px black;
    border-radius: 12px;
    background-color: black;
    color: white;
    width: 25vw;
    height: auto;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}