body {
    overflow-x: hidden;
}

.para1,
.para2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxes1,
.boxes2 {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.title1_para1,
.title_rem_para {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 2px solid black;
    color: white;
    background-color: black;
    border-radius: 30px;
    margin: 10px;
}

.title_rem_para {
    text-align: center;
}

.title1_img1 {
    height: auto;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: var(--blur_val1);
    margin: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {

    .title1_para1,
    .title_rem_para {
        font-size: 16px;
        height: auto;
        width: 100%;
        max-width: 90%;
        padding: 15px;
    }

    .title1_img1 {
        width: 100%;
        max-width: 90%;
    }
}

@media (max-width: 480px) {

    .title1_para1,
    .title_rem_para {
        font-size: 14px;
        height: auto;
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .title1_img1 {
        width: 100%;
        max-width: 100%;
    }
}