/* pricesPage.css */

.prices-full-box {
    margin: 0;
    padding: 0;
    width: 100%;
}

.prices-para1 {
    text-align: center;
    padding: 20px;
}

.prices-title1 {
    margin-left: 30vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    border: 2px solid var(--primary_colour);
    background-color: var(--primary_colour);
    color: var(--white);
    border-radius: 30px;
    box-shadow: var(--blur_val2)
}

.prices-boxes1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prices-price-list {
    list-style-type: none;
    padding: 0;
}

.prices-price-list li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffffff;
}

.prices-price-box {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}